@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(./images/bg-intro-desktop.png);
}

.container{
    display: flex;
    gap: 6rem;
    max-width: 80%;
    padding: 3rem;
}



/* ############################# left container styling ############################# */

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    color: hsl(0, 0%, 100%);
}

.left-container .main-heading{
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    padding-bottom: 2rem;
}

.left-container .main-paragraph{
    font-size: 1.6rem;
    line-height: 2.5rem;
}



/* ############################# right container styling ############################# */

.right-container{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.right-container .trial-days{
    background: hsl(248, 32%, 49%);
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 9px 0 -1px hsla(0, 55%, 39%, 0.28);
    color: hsl(0, 0%, 100%);
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.right-container .trial-days .amount{
    padding-left: 0.2rem;
    font-weight: 400;
}

.right-container .form-container{
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    outline: none;
}


#form{
    margin: 2.5rem 5rem 1.5rem 5rem; 
    width: 80%;
}

#form .input-control input{
    display: flex;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    padding: 1rem 2vw;
    margin: 2.5rem 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 0.5rem;
}

#form .input-control input:focus{
    border: 1px solid hsl(248, 32%, 49%);
}

#form .input-control input:focus-within{
    font-size: 1.6rem;
    font-weight: 600;
}

#form .input-control ::placeholder{
    color: hsl(249, 10%, 26%);
    font-size: 1.5rem;
    font-weight: 500;
}

#form .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(154, 59%, 51%);
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    box-shadow: 0 5px 0 -1px hsla(154, 71%, 40%, 0.613);
    outline: none;
}

.form-container .terms-and-conditions{
    color: hsl(246, 25%, 77%);
    font-weight: 700;
    padding-bottom: 5rem;
    width: 80%;
    padding-left: 3rem;
}

.terms-and-conditions .terms-and-services{
    color: hsl(0, 100%, 74%);
    padding-left: 0.1rem;
}

.form-container{
    box-shadow: 0 9px 0 -1px hsla(0, 55%, 39%, 0.28);
}



/* ############################# Media Queary Styling ############################# */

@media (min-width: 1000px) and (max-width: 1160px){

    .form-container .terms-and-conditions{
        padding-left: 0;
        width: 70%;
    }
}

@media (min-width: 810px) and (max-width: 1000px){
    :root{
        font-size: 50%;
    }
}

@media (min-width: 430px) and (max-width: 809px){
    :root{
        font-size: 50%;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        width: 60rem;
    }

    .container .left-container{
        text-align: center;
    }
}

@media (max-width: 429px){
    :root{
        font-size: 50%;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        width: 60rem;
        gap: 2rem;
    }

    .container .left-container{
        text-align: center;
    }

    .left-container .main-heading{
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    padding: 1.5rem 0;
    }

    .left-container .main-paragraph{
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .right-container .trial-days{
        background: hsl(248, 32%, 49%);
        border-radius: 1rem;
        margin-bottom: 2rem;
        box-shadow: 0 9px 0 -1px hsla(0, 55%, 39%, 0.28);
        color: hsl(0, 0%, 100%);
        height: 8rem;
        text-align: center;
        padding: 1.5rem 1rem 0 1rem;
        font-size: 1.6rem;
        font-weight: 600;
    }

    #form{
        margin: 1rem 2.5rem 1rem 2.5rem; 
        width: 80%;
    }

    .form-container .terms-and-conditions{
        color: hsl(246, 25%, 77%);
        font-weight: 700;
        padding-bottom: 3rem;
        width: 80%;
        padding-left: 1rem;
    }
}